/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 *= require foundation_and_overrides
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-color: #420600;
	color: #FAF3BC;
}

h1 {
	color: #FAF3BC;
}


table
{
	width:100%;
	border:2px solid black;
}
th
{
height:50px;
vertical-align:bottom;
text-align: center;
}
td {
	text-align: center;
	padding:15px;
}
table, td, th
{
	border:3px solid black;
}

input {
	
	width: 120px;
	height: 20px;
	border-radius: 10px;
}

button
{
	width: 220px;
	background-color: lightgreen;
	border-radius: 20px;

}

.alert
{
	background-color: red;
}

li {
	color: white;
}